<md-toolbar class="main-toolbar">
  <div class="md-toolbar-tools main">
   
    <h2 class="brand" >
      <span ng-click="vm.toggleOptions()" style="outline:none;cursor:pointer">Midiscript</span> 
    </h2>
      <div class="md-toolbar-tools">
        <div class="marker-info system-text song-text fadein" style="text-align:center; display:flex;justify-content: center;align-items: center;width: 100%">

          <md-button class="md-icon-button btn-rewind ion-ios-skipbackward" ng-click="vm.sequencer.rewind()">
          </md-button>
        
          <md-button class="md-icon-button ion-ios-play btn-reverse" ng-click="vm.sequencer.reverse()" ng-class="{'active':vm.sequencer.playing && vm.sequencer.increment === -1 || vm.sequencer.paused}">
          </md-button>
          <marker-list sequencer="vm.sequencer"></marker-list>
          <div class="beat-info">
            <span class="beat">{{vm.sequencer.beat | padZeros:5}} </span>
          <span class="beat-ticks">{{vm.sequencer.beatTicks | padZeros:2}}</span>
          </div>
         
          <md-button class="md-icon-button ion-ios-play btn-play" ng-click="vm.play()" ng-class="{'active':vm.sequencer.playing && vm.sequencer.increment === 1 || vm.sequencer.paused}">
          </md-button>
    
          <md-button class="md-icon-button ion-ios-pause btn-pause" ng-click="vm.togglePause()" ng-class="{'active': vm.sequencer.paused}">
          </md-button>
          <md-button style="font-size: 29px !important;" class="md-icon-button ion-stop btn-stop" ng-click="vm.stop()">
          </md-button>
          <md-button class="md-icon-button btn-rewind ion-ios-skipforward" ng-click="vm.sequencer.toend()">
            </md-button>
        </div>


      </div>


    <span  ng-click="vm.editSong()" style="outline:none;cursor:pointer;">{{vm.song.name.toUpperCase() || 'NEW SONG'}}</span>

  </div>
</md-toolbar>

<section>
  <div layout="column" class="track-container">
    <div layout="row" class="track-row" flex 
    style="min-width:{{(251 * vm.song.tracks.length) + 251}}px;">
      <master-track ng-if="vm.song.useMaster && !vm.song.master.isHidden" 
      on-edit="vm.editTrack(vm.song.master)" 
      panel-index="0"
      flex master="vm.song.master" 
      sequencer="vm.sequencer">
      </master-track>
      <div flex ng-repeat="track in vm.song.tracks" 
      class="track-container"
      ng-class="{'collapsed': vm.isCollapsed(track) }"
      >
      <!--    ng-if="!((track.isMuted && !vm.sequencer.solo) || vm.sequencer.isNotSolo(track)) && !track.isHidden" -->
        <track
          collapsed="vm.isCollapsed(track)"
          panel-index="$index+ (vm.song.useMaster ? 1:0)"
          ng-if="track.channel !== undefined" flex track="track" sequencer="vm.sequencer" on-edit="vm.editTrack(track)"
          on-edit-macro-list="vm.editMacroList(track, $index, imp)">
        </track>
        <edit-macro-list 
          panel-index="$index+ (vm.song.useMaster ? 1:0)"
          ng-if="track.channel === undefined" flex macro-list="track" 
          on-close="vm.removeMacroListTrack(track, $index)"
          on-update="vm.updateMacroListTrack(macroList)"
          sequencer="vm.sequencer" >
        </edit-macro-list>
      </div>


    </div>
  </div>
</section>

<section>
  <piano-keys active="vm.log==='keys'" sequencer="vm.sequencer"></piano-keys>
  <piano-roll active="vm.log==='roll'" sequencer="vm.sequencer"></piano-roll>
</section>

<md-sidenav class="md-sidenav-left side-menu" md-component-id="options">
  <options log="vm.log"></options>
</md-sidenav>

<md-sidenav class="md-sidenav-right side-menu" md-component-id="store">
  <store song="vm.song" is-open="vm.storeOpen()"></store>
</md-sidenav>

<md-sidenav class="edit-song md-sidenav-right side-menu" md-component-id="editSong">
  <edit-song song="vm.song" sequencer="vm.sequencer" is-open="vm.editSongOpen()"></edit-song>
</md-sidenav>

<md-sidenav class="edit-track md-sidenav-right side-menu" md-component-id="editTrack">
  <edit-track track="vm.state.selectedTrack" sequencer="vm.sequencer" is-open="vm.editTrackOpen()" ></edit-track>
</md-sidenav>