<md-toolbar class="main-toolbar">
  <div class="md-toolbar-tools main">

    <h2  md-truncate class="brand" >
      <span ng-repeat="l in vm.brand" 
      ng-mouseover="vm.animateLogo()"
      class="brand-letter" 
      ng-class="{'active':l.active}">{{l.letter}}</span>
      - {{vm.song.name}}
      </h2>
<div style="margin:auto" >
    <md-button class="md-icon-button ion-play btn-play" ng-click="vm.play()"
    ng-class="{'active':vm.sequencer.playing}"
    >
    </md-button>
    <md-button class="md-icon-button ion-pause btn-pause" ng-click="vm.togglePause()"
    ng-class="{'active':vm.sequencer.paused}">
    </md-button>
    <md-button class="md-icon-button ion-stop btn-stop" ng-click="vm.stop()">
    </md-button>
</div>
   <md-button ng-click="vm.edit($event)" class="md-default">
      Edit
    </md-button>
    <md-button ng-click="vm.save()" class="md-default">
      Save
    </md-button>
    <md-button ng-click="vm.clone()" class="md-default">
      Clone
    </md-button>
    <md-button ng-click="vm.delete()" ng-if="vm.song.created" class="md-default">
      Delete
    </md-button>
    <md-button ng-click="vm.new()" class="md-default">
      New
    </md-button>
    <md-button ng-click="vm.toggleRight()" class="md-default">
      Load
    </md-button>

  </div>
</md-toolbar>


<section>
  <div layout="column" class="track-container">
    <div layout="row" class="track-row" flex>
      <master-track 
        flex 
        master="vm.song.master"
        sequencer="vm.sequencer">
      </master-track>
      <track 
        flex 
        ng-repeat="track in vm.song.tracks" 
        track="track"
        track-index="$index"
        sequencer="vm.sequencer">
      </track>
    </div>
  </div>

  <piano-roll-horiz sequencer="vm.sequencer"></piano-roll-horiz>

  <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
    <store></store>
  </md-sidenav>

</section>