<md-toolbar class="main-toolbar">
  <div class="md-toolbar-tools main">
   
    <h2 md-truncate class="brand" >
      <span ng-click="vm.toggleOptions()" style="outline:none;cursor:pointer">Midiscript</span> 
    </h2>
    <div flex>
      <div class="md-toolbar-tools">
        <div flex class="marker-info system-text song-text" style="text-align:center">

          <md-button class="md-icon-button btn-rewind ion-skip-backward" ng-click="vm.sequencer.rewind()">
          </md-button>
          <md-button class="md-icon-button btn-rewind ion-skip-forward" ng-click="vm.sequencer.toend()">
          </md-button>
          <md-button class="md-icon-button ion-play btn-reverse" ng-click="vm.sequencer.reverse()" ng-class="{'active':vm.sequencer.playing && vm.sequencer.increment === -1 || vm.sequencer.paused}">
          </md-button>
         
          <md-button class="md-icon-button ion-play btn-play" ng-click="vm.play()" ng-class="{'active':vm.sequencer.playing && vm.sequencer.increment === 1 || vm.sequencer.paused}">
          </md-button>
          <md-button class="md-icon-button ion-pause btn-pause" ng-click="vm.togglePause()" ng-class="{'active': vm.sequencer.paused}">
          </md-button>
          <md-button class="md-icon-button ion-stop btn-stop" ng-click="vm.stop()">
          </md-button>

        </div>




      </div>
    </div>

    <span md-truncate  ng-click="vm.editSong()" style="outline:none;cursor:pointer;">{{vm.song.name || 'new song'}}</span>

  </div>
</md-toolbar>
<section>
   <div layout="row" flex  class="overview"  >
     <track-summary  panel-index="0"  sequencer="vm.sequencer"   track="vm.song.master"  ng-if="vm.song.useMaster" class="item master" >Master</track-summary>
      <track-summary on-edit="vm.editTrack(track)" panel-index="$index+ (vm.song.useMaster ? 1:0)"  sequencer="vm.sequencer"  track="track" ng-repeat="track in vm.song.tracks" class="item track{{track.trackIndex}}">
      </track-summary>
<span class="flex"></span>
       <marker-list sequencer="vm.sequencer"></marker-list>
          <span class="beat-info">
            <span class="beat">{{vm.sequencer.beat | padZeros:5}} </span>
          <span class="beat-ticks">{{vm.sequencer.beatTicks | padZeros:2}}</span>
          </span>
    </div>
</section>
<section>
  <div layout="column" class="track-container">
    <div layout="row" class="track-row" flex 
    style="min-width:{{(251 * vm.song.tracks.length) + 251}}px;">
      <master-track ng-if="vm.song.useMaster && !vm.song.master.isHidden" 
      on-edit="vm.editTrack(vm.song.master)" 
      panel-index="0"
      flex master="vm.song.master" 
      sequencer="vm.sequencer">
      </master-track>
      <div flex ng-repeat="track in vm.song.tracks" 
      class="track-container"
      ng-if="!((track.isMuted && !vm.sequencer.solo) || vm.sequencer.isNotSolo(track)) && !track.isHidden"
      >
        <track
          panel-index="$index+ (vm.song.useMaster ? 1:0)"
          ng-if="track.channel !== undefined" flex track="track" sequencer="vm.sequencer" on-edit="vm.editTrack(track)"
          on-edit-macro-list="vm.editMacroList(track, $index, imp)">
        </track>
        <edit-macro-list 
          panel-index="$index+ (vm.song.useMaster ? 1:0)"
          ng-if="track.channel === undefined" flex macro-list="track" 
          on-close="vm.removeMacroListTrack(track, $index)"
          on-update="vm.updateMacroListTrack(macroList)"
          sequencer="vm.sequencer" >
        </edit-macro-list>
      </div>


    </div>
  </div>
</section>

<section>
  <piano-keys active="vm.log==='keys'" sequencer="vm.sequencer"></piano-keys>
  <piano-roll active="vm.log==='roll'" sequencer="vm.sequencer"></piano-roll>
</section>

<md-sidenav class="md-sidenav-left side-menu" md-component-id="options">
  <options log="vm.log"></options>
</md-sidenav>

<md-sidenav class="md-sidenav-right side-menu" md-component-id="store">
  <store song="vm.song" is-open="vm.storeOpen()"></store>
</md-sidenav>

<md-sidenav class="edit-song md-sidenav-right side-menu" md-component-id="editSong">
  <edit-song song="vm.song" sequencer="vm.sequencer" is-open="vm.editSongOpen()"></edit-song>
</md-sidenav>

<md-sidenav class="edit-track md-sidenav-right side-menu" md-component-id="editTrack">
  <edit-track track="vm.selectedTrack" sequencer="vm.sequencer" is-open="vm.editTrackOpen()" ></edit-track>
</md-sidenav>