<div>
  <!--
  <md-button ng-click="vm.close()" class="md-icon-button ion-close close-left">
  </md-button>
  -->
  <md-tabs md-dynamic-height>

    <md-tab id="tab1">
      <md-tab-label>Account</md-tab-label>
      <md-tab-body>
        <md-button ng-click="vm.signup($event)" ng-if="!vm.isLoggedIn">
          Sign up
        </md-button>
        <md-button ng-click="vm.login($event)" ng-if="!vm.isLoggedIn">
          Log in
        </md-button>
        <md-button ng-click="vm.logout($event)" ng-if="vm.isLoggedIn">
          Log out
        </md-button>
      </md-tab-body>
    </md-tab>
    <md-tab id="tab2">
      <md-tab-label>Options</md-tab-label>
      <md-tab-body>

        <div class="md-padding" style="margin-top:10px">
          <md-radio-group ng-model="vm.log">
            <md-radio-button value="keys" class="md-primary">Keys</md-radio-button>
            <md-radio-button value="roll">Roll</md-radio-button>
          </md-radio-group>
        </div>
      </md-tab-body>
    </md-tab>
    <md-tab id="tab3">
      <md-tab-label>About</md-tab-label>
      <md-tab-body>


      </md-tab-body>
    </md-tab>
  </md-tabs>

</div>