<div>
  <md-tabs md-selected="vm.selectedTabIndex">

    <md-tab id="tab2">
      <md-tab-label>Track</md-tab-label>
      <md-tab-body layout="column">
        <div class="tab-content-inner">
          <div class="md-padding" style="margin-top:10px">
            <macro-list macros="vm.track.interpreted.macros"></macro-list>
          </div>
        </div>
        <div class="tab-buttons" layout="row">
          <md-button ng-click="vm.saveMacroList()">
            Export
          </md-button>
        </div>
      </md-tab-body>
    </md-tab>

    <md-tab id="tab1">
      <md-tab-label>Imports</md-tab-label>
      <md-tab-body>
        <div >
          <md-list-item class="md-2-line" ng-repeat="macroList in vm.macroLists">
            <div class="md-list-item-text">
              <h3 >{{ macroList.key}}</h3>
              <p>{{ macroList.description }}</p>
              <md-checkbox class="md-secondary" ng-change="vm.setImports()" ng-model="macroList.selected"></md-checkbox>
            </div>
          </md-list-item>
        </div>
      </md-tab-body>
    </md-tab>
  </md-tabs>
</div>