<div class="track-summary track{{vm.track.trackIndex || 0}}">

  <span ng-click="vm.onEdit({track: vm.track})">
        {{vm.track.key || 'master'}}
      </span>

 <span aria-label="Show/hide" class="md-micro" 
 ng-class="{'active': vm.track.isHidden}" ng-click="vm.track.isHidden = !vm.track.isHidden">
    <md-tooltip md-direction="top">Visibility</md-tooltip>
    <span ng-class="{'ion-eye': !vm.track.isHidden, 'ion-eye-disabled': vm.track.isHidden}"></span>
  </span>


  <span aria-label="Mute" class="md-micro mute" ng-class="{'active': vm.track.isMuted && !vm.sequencer.solo}" ng-click="vm.sequencer.toggleMute(vm.track)">
    <md-tooltip md-direction="top">Mute</md-tooltip>
    <span ng-class="{'ion-android-volume-up': !vm.track.isMuted, 'ion-android-volume-off': vm.track.isMuted}"></span>
  </span>
  <span aria-label="Solo" class="md-micro solo" ng-class="{'active': vm.track.key === vm.sequencer.solo}" ng-click="vm.sequencer.toggleSolo(vm.track)">
    <md-tooltip md-direction="top">Solo</md-tooltip>
    S
  </span>

  <md-menu class="channel-menu" md-position-mode="target-right bottom">
    <span aria-label="Select channel" class="md-micro channel channel{{vm.track.channel+1}}" ng-click="vm.showChannelDropdown($mdMenu, $event)">
      <md-tooltip md-direction="top">Channel</md-tooltip>
      {{vm.track.channel+1}}
    </span>
    <md-menu-content class="channel-menu-content track{{vm.trackIndex+1}}">
      <md-menu-item ng-repeat="channel in vm.channels" style="border-radius:0" class="channel-menu-item badge channel{{$index+1}}"
        ng-click="vm.selectChannel(channel)">
        {{ channel }}
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</div>