<div class="track track{{vm.track.trackIndex}}" ng-class="{
    'mute': vm.track.isMuted,
    'solo': vm.sequencer.solo === vm.track.key,
    'collapsed': (vm.track.isMuted && !vm.sequencer.solo) || vm.sequencer.isNotSolo(vm.track)
  }">
  <md-toolbar class="track-toolbar" ng-click="vm.onEdit({track: vm.track})">
    <div class="md-toolbar-tools track-key">

      <span style="font-weight:bold" >
        {{vm.track.key}}
      </span>
      <span flex class="flex"></span>
  
    </div>
  </md-toolbar>
  <md-content class="track-content" flex>
    <div ng-if="vm.track.imports.length" class="track-imports" >
      
      <span ng-repeat="imp in vm.track.imports" ng-click="vm.onEditMacroList({imp:imp})">{{imp | import}}<span ng-if="$index < vm.track.imports.length-1">,&nbsp;</span></span>
    
    <!--
      <md-chips 
      ng-model="vm.track.imports" md-removable="true" placeholder="Macros..." 
      delete-button-label="Remove Tag" 
      delete-hint="Press delete to remove macros"
      secondary-placeholder="+Macros">
<md-autocomplete md-no-cache="true"  md-items="item in vm.macroLists" md-search-text="searchText" md-item-text="item.key">

<md-chip-template><span ng-click="vm.onEditMacroList({imp:$chip})">{{$chip}}</span></md-chip-template>

        <span md-chip-remove class="ion-close"></span>

      </md-chips>
      -->
    </div>



    <textarea ui-codemirror="{ onLoad : vm.codemirrorLoaded }" ui-codemirror-opts="{{vm.options}}" ng-model="vm.part">
    </textarea>
  </md-content>

</div>