<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href='#'>{{vm.brand}}</a>
    </div>
  </div>
</nav>
<div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Jingle Bells</h3>
    </div>
    <div class="panel-body">
      <div class="clearfix ">
        <div class="pull-left panel panel-info" style="margin-right:10px;margin-left:10px;{{'width: calc(' + (100 / (vm.tracks.length)) + '% - 20px)' }}" ng-repeat="track in vm.tracks">
          <div class="panel-heading">
             <div class="channel {{'channel'+(track.channel+1)}}">Channel {{track.channel+1}}</div>
            <h3 class="panel-title">{{track.key}} </h3>
           
          </div>
          <textarea ui-codemirror="{ onLoad : vm.codemirrorLoaded }" ui-codemirror-opts="vm.options" class="form-control" ng-model="track.part"></textarea>
        </div>
      </div>
      <!--
      <textarea ui-codemirror="{ onLoad : vm.codemirrorLoaded }" ui-codemirror-opts="vm.options" class="form-control" ng-model="vm.song"></textarea>
      -->
      <div class="btn-group pull-right">
        <a class="btn btn-success ion-play" ng-click="vm.play()">&nbsp;</a>
        <a class="btn btn-pause ion-pause" ng-click="vm.togglePause()">&nbsp;</a>
        <a class="btn btn-stop ion-stop" ng-click="vm.stop()">&nbsp;</a>
      </div>
    </div>

    <div id="log" class="panel-footer clearfix fixed-width-font log" ng-class="{'playing':vm.playing}">
      <div class="piano-roll">
        <div ng-repeat="row in vm.pianoRoll track by $index" class="piano-roll-row clearfix">
          <div class="beat">{{row.beat || '&nbsp;'}}</div>
          <div class="pitch" ng-bind-html="row.pitch"></div>
        </div>
      </div>
      <div ng-repeat="data in vm.logs track by $index" class="row">
        <div ng-repeat="item in data track by $index" class="col-xs-1">{{item}}</div>
      </div>

    </div>




  </div>



</div>