<div class="log " 
ng-show="vm.active"
style="position:relative" ng-class="{ 'playing': vm.sequencer.playing }">
  <div id="pianoroll" class="piano-roll-horiz" style="position:relative">
    <div 
    ng-repeat="beat in vm.beats"
    ng-class="{'active': beat.active}"
    ng-if="beat.count > 0"
    class="beat"
    style="left:{{$index*48}}px;top:5px;">{{beat.count}}</div>
    <div class="beat-marker" ng-drag="vm.onDragBeatMarker(tick)"
    style="left:{{vm.sequencer.tick-20}}px;">
    <div class="needle"></div>
    </div>
    <div 
    ng-repeat="marker in vm.markers"
    ng-class="{'active': marker.active}"
    class="beat marker"
    style="left:{{marker.tick}}px;">{{marker.key}}</div>

    <div ng-repeat="note in vm.data track by $index" 
      ng-class="{'active': note.active, 'ornament': note.ornament}"
      ng-mouseover="vm.hoverNote(note)"
      class="note track{{note.track}}" 
      style="left:{{note.on}}px;width:{{note.width}}px;top:{{note.top}}px;height:{{note.height}}px">
    </div>

    </div>

</div>