<div>
  <md-toolbar class="md-theme-light">
    <div class="md-toolbar-tools">
      <h1 flex>Songs</h1>
      <md-button ng-click="vm.close()" class="md-icon-button ion-close">
      </md-button>
    </div>
  </md-toolbar>
  <md-content>
    <md-list flex>
      <md-list-item class="md-2-line" ng-repeat="song in vm.songs">

        <div class="md-list-item-text">
          <h3>{{ song.name }}</h3>
          <p>{{ song.key }} - {{ song.description }}</p>
        </div>
        <md-button class="md-icon-button ion-play" ng-click="vm.togglePlay(song)">
        </md-button>
        <md-button ng-click="vm.load(song)" class="md-default">
          Load
        </md-button>
      </md-list-item>
    </md-list>

  </md-content>
</div>