<div class="side-menu store">
  <md-tabs md-dynamic-height>

    <md-tab id="tab2"  ng-if="$root.user.key !== 'guest'" >
      <md-tab-label>{{$root.user.key}}</md-tab-label>
      <md-tab-body>
        <md-content>
           <song-list 
            
              list-name='{{$root.user.key}}' 
              on-selected="vm.load(song)">
           </song-list>
        </md-content>

      </md-tab-body>
    </md-tab>
    <md-tab id="tab2"  ng-if="$root.user.key !== 'tutorial'">
      <md-tab-label>Tutorial</md-tab-label>
      <md-tab-body>
        <song-list 
          list-name='tutorial' 
          on-selected="vm.load(song)">
        </song-list>
      </md-tab-body>
    </md-tab>


</div>