
$track1-primary: #d83e00;
$track1-secondary: #422222;

$track2-primary: #8e8b00;
$track2-secondary: #3e3727;

$track3-primary:  #0079b5;
$track3-secondary: #1c353c;

$track4-primary: #2e8c73;
$track4-secondary:  #10443e;

$track5-primary: rgb(127, 100, 239);
$track5-secondary: #402752;

$track6-primary: #d83e00;
$track6-secondary: #422222;

$track7-primary: #d83e00;
$track7-secondary: #422222;

$track8-primary: #d83e00;
$track8-secondary: #422222;