body, md-toolbar, md-toolbar input,.md-toolbar-tools, #song-name, .track-row {
    background-color: #171616;
    font-size: 16px !important;
}

.loading {
    opacity: 0;
    transition: 500ms opacity;
}

.loaded {
    opacity: 1 !important;
}

.view-container {
    margin-top: 50px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}


.song-text {
    line-height: 19px;
    color: #a2a2a2;
    margin-left: 10px;
    margin-right: 10px;
}

.beat-info {
    text-align: right;
    width: 80px;

    .beat {
        width: 80px;
    }

    .beat-ticks {
        width: 80px;
    }
}



.btn-rewind {
    font-size: 29px !important;
    margin-top: -4px !important;
}

.btn-reverse {
    transform: rotate(180deg);
}

.md-button.md-micro.md-button {
    color: white;
}

.system-text {
    letter-spacing: 0.01em;
    color: #b3b3b3;

    &.bold {
        font-weight: 500;
    }
}

h1.system-text {
    font-weight: 500;
}

md-checkbox .md-icon {
    border-width: 1px;
    padding: 12px;
}

md-checkbox.md-checked .md-icon:after {
    left: 9px;
    top: 4px;
}

[md-ink-ripple-checkbox] {
    padding: 12px;
}

.md-icon-button.md-micro {
    font-size: 16px;
    width: 25px;
}

.main-toolbar {
    background-color: #1d1d1d !important;
    color: #a2a2a2 !important;

    .md-toolbar-tools .md-button.active {
        text-shadow: 0 0 10px white;
        color: white !important;
    }

    .md-button {
        min-width: 0;
    }

    .md-toolbar-tools .md-button {
        margin: 0;
        color: #b9b9b9;
        font-weight: normal;
    }
}

.brand {
    font-size: 14px !important;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.md-toolbar-tools.main .md-icon-button {
    font-size: 24px;
}

.log {
    height: calc(100vh - 500px);
    overflow: auto;
    white-space: nowrap;
    background: #171616;
    color: #999;
    border-top: none !important;
    margin-top: 0;

    &.playing {
        overflow: hidden;
    }
}

.panel-grey {
    background-color: #cec6bb;
    color: #fff;
}

.track-container {
    overflow-x: auto;
}

.md-icon-button {
    font-size: 24px;
}

.md-button.md-fab.md-micro {
    line-height: 28px;
    width: 28px;
    height: 28px;
    min-height: 28px;
    transition: all 0.1s cubic-bezier(0.55, 0, 0.55, 0.2);
    -webkit-transition: all 0.1s cubic-bezier(0.55, 0, 0.55, 0.2);
    margin-left: 2px;
    box-shadow: none;
}

.track-led.active {
    /*   background-color: white !important;*/
}

.track1 .track-toolbar .track-led.active {
    /* background-color: white !important;*/
    /*


    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #d83e00, 0 0 35px #d83e00;
    */
}

.track2 .track-toolbar .track-led.active {
    /*
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #8e8b00, 0 0 35px #8e8b00;
      */
}

.track3 .track-toolbar .track-led.active {
    /*
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #0079b5, 0 0 35px #0079b5;
      */
}

.track4 .track-toolbar .track-led.active {
    /*
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #2e8c73, 0 0 35px #2e8c73;
      */
}

.track5 .track-toolbar .track-led.active {
    /*
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px rgb(127, 100, 239), 0 0 35px rgb(127, 100, 239);
      */
}

.track6 .track-toolbar .track-led.active {
    /*
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px rgb(255, 64, 129), 0 0 35px rgb(255, 64, 129);
      */
}

.track7 .track-toolbar .track-led.active {
    /*
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px rgb(0, 149, 255), 0 0 35px rgb(0, 149, 255);
      */
}

.track8 .track-toolbar .track-led.active {
    /*
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px rgb(72, 185, 2), 0 0 35px rgb(72, 185, 2);
      */
}
.overview {
  width:100%;
  background:#232323;
}
.overview .item.master {
  background-color: #2f2f2f;
  border-color: #828282;
}
.overview .item, .marker-list, .beat-info {
  color: #888;
  font-size:14px;
  
  font-family:menlo;
      padding: 2px 6px 2px 6px;
    margin: 5px;
    border-radius: 2px;
  
}
/*
.overview .item {
border-bottom:1px solid;
}
 */

.track1 .track-led,
.note.track1,
.key.active.track1
{
    background-color: $track1-primary;
}

.track1 .sub-highlight,
.channel-menu-content.track1, .channel-menu-content.track1 .channel-menu-item,
.track1 .md-button.md-fab.mute.md-micro.active {
  background-color: $track1-secondary;
}

.track1 .track-toolbar .md-toolbar-tools, .overview .track1 {
  
    border-color: $track1-primary;
     background-color: $track1-secondary
}

.md-button.md-fab.solo.md-micro.active {
    background: #3e3d3d !important;
}

.track2 .track-led,
.note.track2,
.key.active.track2
{
    background-color: $track2-primary
}
.channel-menu-content.track2, .channel-menu-content.track2 .channel-menu-item,
.track2 .sub-highlight,.track2 .md-button.md-fab.mute.md-micro.active {
    background-color: $track2-secondary
}

.track2 .track-toolbar .md-toolbar-tools, .overview .track2 {
  
    border-color: $track2-primary;
    background-color: $track2-secondary;
}

.track3 .track-led,
.note.track3,
.key.active.track3{
    background-color: $track3-primary;
}
.channel-menu-content.track3, .channel-menu-content.track3 .channel-menu-item,
.track3 .sub-highlight,.track3 .md-button.md-fab.mute.md-micro.active {
  background-color: $track3-secondary;
}


.track3 .track-toolbar .md-toolbar-tools, .overview .track3 {
  
    border-color: $track3-primary;
     background-color: $track3-secondary;
}

.track4 .track-led,
.note.track4,
.key.active.track4{
    background-color: $track4-primary;
}
.channel-menu-content.track4, .channel-menu-content.track4 .channel-menu-item,
.track4 .sub-highlight,
.track4 .md-button.md-fab.mute.md-micro.active {
  background-color: $track4-secondary;
}

.track4 .track-toolbar .md-toolbar-tools, .overview .track4 {
  
    border-color: $track4-primary;
    background-color: $track4-secondary;
}

.track5 .track-toolbar .md-toolbar-tools,.overview .track5 {
    border-color: $track5-primary;
    background-color: $track5-secondary;
}

.track5 .track-led,
.note.track5,
.key.active.track5
{
    background-color: $track5-primary
}
.track5 .sub-highlight,.channel-menu-content.track5, .channel-menu-content.track5 .channel-menu-item,.track5 .md-button.md-fab.mute.md-micro.active  {
  background-color: $track5-secondary;
}

.track6 .track-led,
.channel-menu-content.track6, .channel-menu-content.track6 .channel-menu-item,
.track6 .sub-highlight,
.note.track6, .key.active.track6,
.track6 .md-button.md-fab.mute.md-micro.active {
    background-color: rgb(255, 64, 129);
}

.track7 .track-led,
.channel-menu-content.track7, .channel-menu-content.track7 .channel-menu-item,
.track7 .sub-highlight,
.note.track7,
.key.active.track7,
.track7 .md-button.md-fab.mute.md-micro.active {
    background-color: rgb(0, 149, 255);
}

.track8 .track-led,
.channel-menu-content.track8, .channel-menu-content.track8 .channel-menu-item,
.track8 .sub-highlight,
.note.track8,
.key.active.track8,
.track8 .md-button.md-fab.mute.md-micro.active {
    background-color: rgb(72, 185, 2);
}

.master-track .sub-highlight {
    background-color: #4e4e4e;
}

.channel-menu > .md-fab {
    margin-top: -2px !important;
}

.channel-menu-content {
    max-height: 120px;
    min-width: 40px;
    width: 40px;
    overflow: auto;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 8px;
}

.channel-menu-item {
    color: white;
    align-items: right;
    text-align: right;
    cursor: pointer;
    display: flex;
    height: 24px;
    min-height: 24px;
    text-transform: uppercase;
    padding: 0 2px 0px 13px;
    font-size: 14px;
}

.md-open-menu-container.md-whiteframe-z2 {
    box-shadow: none;
}

.modal-header {
    background-color: #d83e00 !important;
}

.btn-remove-tag {
    position: relative;
    height: 24px;
    width: 24px;
    text-align: center;
    border-radius: 50%;
    border: none;
    box-shadow: none;
    padding: 0;
    transition: background 0.15s linear;
    display: block;
}

.md-chips md-chip .md-chip-remove-container {
    top: 4px;
    right: 4px;
}

.md-chips.md-removable md-chip {
    padding-right: 28px;
}

md-input-container .md-errors-spacer {
    min-height: 0;
    min-width: 0;
}

md-tabs.md-default-theme md-tabs-wrapper,
md-tabs md-tabs-wrapper {
    border-bottom: 1px solid #c5c5c5;
}

md-list-item.disabled {
    opacity: 0.5;

    md-button {
        cursor: default;
    }
}

md-list[dnd-list] {
    min-height: 60px;
    padding-left: 0px;

    .dndDraggingSource {
        display: none;
    }

    .dndPlaceholder {
        border-top: 1px dotted #ccc;
        border-bottom: 1px solid #ccc;
        display: block;
        min-height: 60px;
    }
}

.beat.marker.active {
    text-shadow: 0 0 5px #fff, 0 0 15px #fff, 0 0 20px white, 0 0 35px white;
    color: white !important;
}

/*
.highlight {
   color: white !important;
}*/

.scale-highlight {
    background-color: #f7e976;
    color: black !important;
}

.sustain-highlight {
    border-bottom: 3px solid grey;
}

.sub-highlight {
    color: white !important;
    border-bottom: 1px solid white;
    padding-bottom:2px;
}

.panel-body .btn-group {
    font-size: 68px;
}

.key {
    position: absolute;

    &.white {
        background: #a8b4c5;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    &.black {
        z-index: 2;
        background-color: #304354;
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 7px;
    }
}

.key-name {
    font-size: 14px;
    color: #000;
}
