.track-row {

    margin-left:12px;
}

.track-container {
    &.collapsed {
        min-width: 50px !important;
        max-width:50px;
    }
   &:not(.collapsed) {
      min-width: 300px !important;
   }
  
}


.track {
  
    margin-right: 12px;


    &:not(.collapsed) {
        min-width: 300px !important;
    }

    .track-content {
        height: 400px;
        background: black;

        md-chips-wrap {
            border: none !important;
        }

        md-chips.md-chips.md-focused {
            box-shadow: none;
        }

        .md-chips {
            padding: 0;
            font-size: 12px;

            .md-chip-input-container {
                margin: 0;
            }

            .md-chip-input-container, .md-chip-input-container md-autocomplete {
                line-height: 20px;

                input {
                    color: #eee;
                    font-family: menlo, monospace;
                    font-size: 12px;
                    height: 20px;
                    line-height: 20px;
                }
            }

            md-chip {
                background: transparent;
                color: #eee;
                height: 20px;
                line-height: 20px;
                font-family: menlo, monospace;
                font-size: 12px;
                padding: 0 28px 0 0;
                margin: 0;
                color: #9fc7c7;

                .md-chip-remove-container {
                    top: 0;
                    opacity: 0.5;
                }
            }
        }
    }

    .track-imports {
        color: #94b5e0;
        padding: 5px 0 5px 10px;
        font-family: menlo, monospace;
        font-size: 0.8em;
    }

    .track-imports {
        border-bottom: 1px dashed #525252;
    }

    .track-content .highlight {
        border-bottom: 3px solid white;
    }

    &.master-track {

      .md-toolbar-tools {
         background-color: #2f2f2f;
          border-bottom: #828282;
      }
      .track-content .CodeMirror {
        box-shadow: inset 1px 2px 40px -5px rgba(0, 0, 0, 0.3);
        height: 100%;
      }

    }

   

    &.mute {
        opacity:0.5;
    }

    &.collapsed {
        overflow:hidden;
        flex-grow: 0.5;
        -webkit-box-flex: 0.5;
        -webkit-flex: 0.5;
        flex: 0.5;

       

            .md-toolbar-tools {
                border-color: #000;
           
            }
        }

 
    

    .CodeMirror {
        height: auto;
        font-size: 14px;
    }

    .track-toolbar {
        height: 40px;
        min-height: 40px;
        background-color: transparent !important;
        color: white;

        .track-summary {
            color: white;
            .md-micro {
                margin-right: 10px;
            }
            opacity:0;
            transition: opacity 300ms linear;

            .collapser {
                display: flex;
                outline:none;
             
                display: flex;
                &.active {
                margin-left: -12px;
                font-size:18px;

                }
               
            }
        }
        &:hover {
            .track-summary {
                opacity:1;
            }
        }

        .md-toolbar-tools {
            padding: 0 10px;
            /*
            border-bottom-width: 3px;
            border-bottom-style: solid;
            */

            .md-button {
                margin: 0;
                color: grey;
            }
        }

        .track-led {
            display: none;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            margin-top: 1px;
            margin-right: 10px;
        }

        .md-button.md-fab.md-micro {
            background-color: transparent;
        }

        .md-button.md-fab.mute.md-micro.active {
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        }

        .md-button.md-fab.mute.md-micro.active:hover {
            color: white;
        }

        .md-button.md-fab.solo.md-micro:hover,
        .md-button.md-fab.mute.md-micro:hover {
            color: black;
            background-color: transparent;
        }

        .md-button.md-fab.solo.md-micro.active:hover {
            color: white;
        }
    }
}
