.track-row {
    border-bottom: 1px solid #423d35;
}

.track-container {
   &:not(.collapsed) {
      min-width: 300px !important;
   }
  
}
.track {
  
    border-right: 1px solid #423d35;

    &:not(.collapsed) {
        min-width: 300px !important;
    }

    .track-content {
        height: 400px;
        background: #191919;

        md-chips-wrap {
            border: none !important;
        }

        md-chips.md-chips.md-focused {
            box-shadow: none;
        }

        .md-chips {
            padding: 0;
            font-size: 12px;

            .md-chip-input-container {
                margin: 0;
            }

            .md-chip-input-container, .md-chip-input-container md-autocomplete {
                line-height: 20px;

                input {
                    color: #eee;
                    font-family: menlo;
                    font-size: 12px;
                    height: 20px;
                    line-height: 20px;
                }
            }

            md-chip {
                background: transparent;
                color: #eee;
                height: 20px;
                line-height: 20px;
                font-family: menlo;
                font-size: 12px;
                padding: 0 28px 0 0;
                margin: 0;
                color: #9fc7c7;

                .md-chip-remove-container {
                    top: 0;
                    opacity: 0.5;
                }
            }
        }
    }

    .track-imports {
        color: #94b5e0;
        padding: 5px 0 5px 10px;
        font-family: menlo;
        font-size: 0.8em;
    }

    .track-imports {
        border-bottom: 1px dashed #525252;
    }

    .track-content .highlight {
        border-bottom: 3px solid white;
    }

    &.master-track {

      .md-toolbar-tools {
         background-color: #2f2f2f;
          border-bottom: #828282;
      }
      .track-content .CodeMirror {
        box-shadow: inset 1px 2px 40px -5px rgba(0, 0, 0, 0.3);
        height: 100%;
      }

    }

   

    &.solo {
        flex: 2;
        flex-grow: 2;
        min-width: 400px;
        max-width: 600px;
    }

    &.mute {
        flex-grow: 0.1 !important;
    }

    &.collapsed {
        min-width: 200px !important;
        flex-grow: 0.5;
        -webkit-box-flex: 0.5;
        -webkit-flex: 0.5;
        flex: 0.5;

        .track-toolbar .md-toolbar-tools {
            border-color: #000;
        }

        .track-content, .CodeMirror {
            opacity: 0.7;
        }

        .track-key {
            background: #191919 !important;
        }
    }

    .CodeMirror {
        height: auto;
        font-size: 14px;
    }

    .track-toolbar {
        height: 40px;
        min-height: 40px;
        background-color: transparent !important;
        color: white;

        .md-toolbar-tools {
            padding: 0 10px;
            border-bottom-width: 3px;
            border-bottom-style: solid;

            .md-button {
                margin: 0;
                color: grey;
            }
        }

        .track-led {
            display: none;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            margin-top: 1px;
            margin-right: 10px;
        }

        .md-button.md-fab.md-micro {
            background-color: transparent;
        }

        .md-button.md-fab.mute.md-micro.active {
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        }

        .md-button.md-fab.mute.md-micro.active:hover {
            color: white;
        }

        .md-button.md-fab.solo.md-micro:hover,
        .md-button.md-fab.mute.md-micro:hover {
            color: black;
            background-color: transparent;
        }

        .md-button.md-fab.solo.md-micro.active:hover {
            color: white;
        }
    }
}
