
  body, .track-row,.channel-menu-content,.channel-menu-item {
     background-color: #3e5569;
    }
  
  .main-toolbar {
    background-color: rgb(67, 106, 125) !important;
  }
   

  .loading {
      opacity: 0;
      transition: 500ms opacity;
    }
    
    .loaded {
      opacity: 1 !important;
    }

    .songs md-list-item {
      padding: 0
    }

    .view-container {

      margin-top:50px;
    }

    .md-toolbar-tools.main .md-icon-button {
      font-size: 1.2em
    }
  
    .CodeMirror {
      height: auto;
      font-size:1.2em;
    }
    .CodeMirror pre > * { text-indent: 0px; }
    
    .log {
      height: calc(100vh - 519px);
      overflow:auto;
      white-space: nowrap;
      color:#999;
      
      -webkit-box-shadow: inset 1px 2px 40px -5px rgba(0,0,0,0.3);
      -moz-box-shadow: inset 1px 2px 40px -5px rgba(0,0,0,0.3);
      box-shadow: inset 1px 2px 40px -5px rgba(0,0,0,0.3);
      border-top: none !important;

      border-radius: 10px;
      margin: 5px;
      margin-top: 0;
    }
    .log.playing {
      overflow: hidden;
    }
    .piano-roll {
      font-size:18px;
      line-height:14px;
    }
    .piano-roll .pitch {
      color: #3d424e;
      width: calc(100% - 50px);
      float:left;
    }
 
     .panel-grey {
       background-color: #cec6bb;
       color: #fff;
     }
    .track-toolbar {
      height:40px;
      min-height: 40px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-color: transparent !important;
    }

    .track-content {
      border-radius: 10px;
      height:400px;
      background-color: #0C1021;
    }

   
    .log {
    background-color: #334452;
    }
    #songName {
      color: white;
      text-align: right;
      margin-top: 22px;
    }

  

.md-open-menu-container, .channel-menu {
  border-radius: 10px;
}

.md-toolbar-tools .md-button {
    margin: 0;
}

.track-toolbar .md-button.md-fab.md-micro {
    line-height: 28px;
    width: 28px;
    height: 28px;
    min-height: 28px;
    background-color: transparent;
    transition: all .1s cubic-bezier(.55,0,.55,.2);
    -webkit-transition:  all .1s cubic-bezier(.55,0,.55,.2);
    margin-left: 2px;
}
.track-toolbar .md-button.md-fab.mute.md-micro:hover {
  color: #d62222; 
  background-color: transparent;
}
.track-toolbar .md-button.md-fab.mute.md-micro.active {
  background-color: #d62222 !important;
}
.track-toolbar .md-button.md-fab.mute.md-micro.active:hover {
  color:white;
}
.track-toolbar .md-button.md-fab.solo.md-micro:hover {
  color:  #72a202;
  background-color: transparent;
}
.track-toolbar .md-button.md-fab.solo.md-micro.active {
  background-color:  #72a202 !important;
}
.track-toolbar .md-button.md-fab.solo.md-micro.active:hover {
  color:white;
}

.track {
  min-width:300px !important;
  border-radius: 10px;
  margin: 5px;
}

.track1 .track-toolbar .track-key {
  background-color: red;
}
   .piano-roll .pitch .track1 {
       color: red;
     }
  
.track-toolbar .track-key {
    padding: 3px 9px;
    border-radius: 20px;
  }
.track2 .track-toolbar .track-key {
  background-color: green;
}
   .piano-roll .pitch .track2 {
       color: green
     }

.track3 .track-toolbar .track-key {
  background-color: blue;
}  
.piano-roll .pitch .track3 {
       color: blue;
    }
.track4 .track-toolbar .track-key {
  background-color: purple;
}
  .piano-roll .pitch .track4 {
       color: purple;
     }


  .channel-menu > .md-fab {
      margin-top: -4px !important;
    }
.channel-menu-content {
  max-height:150px;
  min-width:40px;
  width: 40px;
  overflow: auto;
  padding:0;
  padding-top:5px;
  padding-bottom: 5px;
  border-radius:10px;
}
.channel-menu-item {
  align-items: right;
  text-align:right;
  cursor: pointer;
  display: flex;
      height: 24px;
    min-height: 24px;
  text-transform:  uppercase;
  padding: 0 8px;
  font-size: 14px;
  font-weight: 500;
}

.demo-menu-item:hover,
.demo-menu-item:focus {
  background-color: rgb(238, 238, 238);
}

.demo-menu-item.selected {
  color: rgb(16, 108, 200);
}

.main-toolbar .md-button {
  min-width: 0;
}


.track-led {
 border-radius: 50%;
 width:20px;
 height:20px;
 color: #000;
margin-left: -15px;
    margin-top: -4px;
}

.track-led.active {
  color: white !important;
   text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
}

.highlight {
  border-bottom:3px solid white;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  color: white !important;
 
}
.sustain-highlight {
  border-bottom:3px solid grey;
   
 
}
.sub-highlight {
 background-color: white; color: black !important;
}

    .piano-roll .beat {
      width:50px;
      float:left;
      font-size: 16px;
    }

    .piano-roll-row {
      width:100%;
    }

    .fixed-width-font {
      font-family: monospace;
    }

    .panel-body .btn-group {
      font-size:68px;
    }


 