/* Port of TextMate's Blackboard theme */


.cm-s-blackboard div.CodeMirror-selected { background: #253B76; }
.cm-s-blackboard .CodeMirror-line::selection, .cm-s-blackboard .CodeMirror-line > span::selection, .cm-s-blackboard .CodeMirror-line > span > span::selection { background: rgba(37, 59, 118, .99); }
.cm-s-blackboard .CodeMirror-line::-moz-selection, .cm-s-blackboard .CodeMirror-line > span::-moz-selection, .cm-s-blackboard .CodeMirror-line > span > span::-moz-selection { background: rgba(37, 59, 118, .99); }
.cm-s-blackboard .CodeMirror-gutters { background: #0C1021; border-right: 0; }
.cm-s-blackboard .CodeMirror-guttermarker { color: #FBDE2D; }
.cm-s-blackboard .CodeMirror-guttermarker-subtle { color: #888; }
.cm-s-blackboard .CodeMirror-linenumber { color: #888; }
.cm-s-blackboard .CodeMirror-cursor { border-left: 1px solid #A7A7A7; }



.track:not(.master-track) .cm-s-blackboard .cm-marker {     
  color: #94b5e0;
 

    padding-left:3px; 
    padding-right: 3px;
}


.track.master-track .cm-s-blackboard .cm-masterscale {
  color: #f7e976;

padding-left:3px; 
padding-right: 3px;
 }
.track.master-track .cm-s-blackboard .cm-mastermarker {
    color: #94b5e0;
   

     padding-left:3px;
      padding-right: 3px;}
.track.master-track .cm-s-blackboard .cm-tempo { color: #af9e7d; }

.track .cm-s-blackboard .cm-substitutionsetter, 
.track .cm-s-blackboard .cm-shufflesetter, 
.track .cm-s-blackboard .cm-substitution,
.track .cm-s-blackboard .cm-reverse,
.track .cm-s-blackboard .cm-reversesetter
 { 
  color: #94b5e0;
  }
  .track .cm-s-blackboard .cm-annotationsetter, 
.track .cm-s-blackboard .cm-annotation,
.track .cm-brace 
 { 
  color: #de68d3;
  }

.track:not(.master-track) .cm-s-blackboard .cm-note,
.track:not(.master-track) .cm-s-blackboard .cm-rest,
.track .cm-s-blackboard .cm-sustain { 
  color: #f7e976;
}

.track .cm-s-blackboard .cm-duration { color: #ff8749; }

.cm-s-blackboard .cm-transpose { color: #61CE3C}
.cm-s-blackboard .cm-octave { color: #61CE3C }

.cm-chordconstraint,
.cm-bassconstraint,
.cm-scaleconstraint,
.cm-arpeggioornament, 
.cm-trillornament, 
.cm-turnornament,
.cm-on,.cm-off
 { color: #af9e7d; }



/*
.cm-s-blackboard .cm-keyword { color: #FBDE2D; }
.cm-s-blackboard .cm-comment { color: #AEAEAE; }
.cm-s-blackboard .cm-string { color: #61CE3C; }


.cm-s-blackboard .cm-a { color: #D8FA3C; }
.cm-s-blackboard .cm-b { color: #FF6400; }
.cm-s-blackboard .cm-c { color: #8DA6CE; }
.cm-s-blackboard .cm-d { color: #FBDE2D; }
.cm-s-blackboard .cm-e { color: #AEAEAE; }
.cm-s-blackboard .cm-f { color: #61CE3C; }
*/

.cm-s-blackboard .cm-error { background: #9D1E15; color: #F8F8F8; }

.cm-s-blackboard .CodeMirror-activeline-background { background: #3C3636; }
.cm-s-blackboard .CodeMirror-matchingbracket { outline:1px solid grey;color:white !important; }


.track .cm-bracket , .track .cm-loop {
  color: #6aa0e8;
}




.cm-bracket.CodeMirror-matchingbracket {
    outline: 1px solid #1459b5;
     color: #b8d2f5  !important;
  /*  background: #2169c3;*/
}

.cm-brace.CodeMirror-matchingbracket {
    outline: 1px solid #a02fa0;
    color: #ffb8f8 !important;
  /*  background: #2169c3;*/
}
.cm-annotation.CodeMirror-matchingbracket,
.cm-annotationsetter.CodeMirror-matchingbracket {
    outline: none;
     color: #de68d3 !important;
  /*  background: #2169c3;*/
}
.cm-substitution.CodeMirror-matchingbracket,
.cm-substitutionsetter.CodeMirror-matchingbracket {
   color: #6aa0e8 !important;
   outline: none;
}